@import './fonts.scss';
@import './colors.scss';


* {
    box-sizing: border-box;
    margin: 0;
}

body,html {
    font-family: map-get($fonts, 'roboto'), sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
   
}